 <script>
    office_detail_json = <%=  @office["office"].to_json.to_s.html_safe %>
</script>

<div class="row">
  <div class="large-8 columns">
    <div data-alert class="alert-box alert radius" style="display:none">
      <ul class="error_list"></ul>
      <a href="#" class="close">&times;</a>
    </div>
    <div data-alert class="alert-box warning radius" style="display:none">
      <ul class="error_list"></ul>
      <a href="#" class="close">&times;</a>
    </div>
    <div data-alert class="alert-box success radius" style="display:none">
      <span class="success_msg"></span>
      <a href="#" class="close">&times;</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
       <div class="reveal-modal tiny" id="mytinyDelete" data-reveal="">
         <h2>Deleting Office</h2> <br>
         <b> Are you sure? <b> <br> <br>
         <input type="button" class ="tiny button" value="Yes" id="deleteConfirm" />
         <input type="button" class ="tiny button" value="No" id="deleteCancel" />
         <a class="close-reveal-modal">×</a>
     </div>   
   </div>
  </div>
 
<% if @office["success"] %>

<div id ="office_detail">
   <div class="row">
    <div class="large-12 columns">
     <div class="small-12 large-12 columns">
        <input type="button" class ="tiny button"   value="Update Office" id="updateOfficeButton" />
        <input type="button"  class ="tiny button" value="Delete Office" data-reveal-id="mytinyDelete" id="deleteOfficeButton" />
    </div>
   </div>
  </div>
</div>


  <div class="row">
    <div class="large-12 columns">
        <div id="name" class="editable">
        <h2 class="page-title">
      <%= @office["office"]["name"].html_safe %>  
      </h2>
    </div>
       </div>
</div>
 <div class="row">
    <div class="large-12 columns">
       <h5 class="page-title">Stakeholder Information</h5> <br />
			 <ul><% @office["stakes"].each do |stakeholder| %>
        
				<strong> <li><a href="../terms/<%= stakeholder["name"] %>"><%= stakeholder["name"] %></a>: </strong> <%= stakeholder["stake"] %></li>  <br>
       
			<% end %></ul>
     
    </div>
  </div>
</div>
<% else %>

Error: <%=@office["message"] %>

<% end %>