.row.dataset_result{:id => "#{result["data"]["id"]}"}

  .result_row

    .medium-10.columns.dataset_result_content

      .result_header

        .result_title
          %h4
            %a.do_highlight{:href => "../#{result["type"].pluralize}/#{result["data"]["name"]}"}
              = result["data"]["name"]

        %p.created_line
          Created By: Registrar

      .do_highlight.dataset_result_body
        - if result["data"]["description"]  then
          - @description = result["data"]["description"].truncate(300, separator: ' ')
          = @description.html_safe

      %span.role_header
      - if result.has_key?("data")
        - if result["data"].has_key?("security_roles")
          %ul
            - result["data"]["security_roles"].each do |role|
              %li= role["name"]

    .medium-2.columns
      %a{:href => "../#{result["type"].pluralize}/#{result["data"]["name"]}"}
        = image_tag result["photo"].image_url(:medium), :onerror => "this.src = '/assets/table-icon-06.svg';this.removeAttribute('onerror');"

%hr
