
    <div class="result_row">
      <div class="result_header">
        <div class="result_title">
            <h4>
              <a class="do_highlight" href="../<%= result["type"].pluralize %>/<%=result["data"]["name"]%>">
                <%= result["data"]["name"] %>
              </a>
          </h4>
        </div>
        <div class="result_type">
          <%= result["type"] %>
        </div>
      </div>

      <div class="do_highlight result_body">
        <% if result["data"]["definition"]  then %>
          <%= result["data"]["definition"].html_safe %>
        <%end%>
      </div>


  </div>
