<% if @term["success"] %>

<h1><%= @term["term"]["name"] %></h1>
<b>Definition:</b><br /><br /> <%= @term["term"]["definition"] %><br /><br />
<b>Stakeholders:</b> <br />
<ul><% @term["stakeholders"].each do |stakeholder| %>
	<li><a href="../offices/<%= stakeholder["name"] %>"><%= stakeholder["name"] %></a>: <%= stakeholder["stake"] %></li>
<% end %></ul>
<b>Muninn Thinks You Are:</b> <%= @term["validated_user"] %><br />
<b>Ticket Data:</b> <%= @term["tickety"] %><br />
<% else %>

Error: <%= @term["message"] %>

<% end %>