<% if @term["success"] %>

<h1><%= @term["term"]["name"] %></h1>
<b>Definition:</b><br /><br /> <%= @term["term"]["definition"] %><br /><br />
<b>Stakeholders:</b> <br />
<ul><% @term["stakeholders"].each do |stakeholder| %>
	<li><a href="../offices/<%= stakeholder["name"] %>"><%= stakeholder["name"] %></a>: <%= stakeholder["stake"] %></li>
<% end %></ul>
<b>Logged Into Huginn As:</b> <% @cas_user %><br />
<b>Logged Into Muninn As:</b> <% @term["cas_user"] %><br />
<b>Ticket:</b> <% @term["ticket"] %><br />
<% else %>

Error: <%= @term["message"] %>

<% end %>