<% if @results %>

<div class="row">
  <div class="large-12 columns">
    <h1 class="page-title">Glossary</h1>
  </div>
</div>
<div class="row">
      
        <%= @results.each do |result| %>
          <% if result[:type]  == 'term' then %> 
           <a href="../terms/<%=result[:data]["name"]%>"> <strong> <%=result[:data]["name"] %></strong> </a> </br>  
              <p>  <%= result[:data]["definition"] %></p>
          <% end %>     
       <% end %>

</div>

<%end %>


<% if @term["success"] %>
<div class="row">
                <h3><%= @term["term"]["name"] %></h3>
<b>Definition:</b><br /><br /> <%= @term["term"]["definition"] %><br /><br />
<b>Stakeholders:</b> <br />
<ul><% @term["stakeholders"].each do |stakeholder| %>
                <li><a href="../offices/<%= stakeholder["name"] %>"><%= stakeholder["name"] %></a>: <%= stakeholder["stake"] %></li>
<% end %></ul>

<% else %>

Error: <%= @term["message"] %>
</div>
<% end %>
