- if @term["success"]
  :javascript
    term_object = #{@term["term"].to_json.to_s.html_safe}
    office_json = #{@office_json.to_s.html_safe}
    stakeholder_hash = #{@stakeholder_hash.to_json.to_s.html_safe}

.row
  .large-8.columns
    %ul#error_list{:style => "display:none"}
    .alert-box.warning.radius{"data-alert" => "", :style => "display:none"}
      %ul.error_list
      %a.close{:href => "#"} ×
    .alert-box.success.radius{"data-alert" => "", :style => "display:none"}
      %span.success_msg
      %a.close{:href => "#"} ×
.row
  .large-12.columns
    #mytinyDelete.reveal-modal.tiny{"data-reveal" => ""}
      %h2 Deleting Term
      %br
      %b Are you sure?
      %br
      %br
      %input#deleteConfirm.tiny.button{:type => "button", :value => "Yes"}/
      %input#deleteCancel.tiny.button{:type => "button", :value => "No"}/
      %a.close-reveal-modal ×




#term_detail
  .fullWidth
    -if current_user && current_user.can( :edit_term )
      .edit-mode
        #currentmode Preview Mode
        #edittoggle.switch
          %input#editmode{:type => "checkbox"}
          %label{:for => "editmode"}
          //%p Edit



    .edit
      #name
        %h2.term-title.editable
          = @term["term"]["name"].html_safe

    .view
      %h2.term-title
        = @term["term"]["name"].html_safe
