
<% if @term["success"] %>

<div class="row">
	<div class="small-12 large-8 columns">
		<h1 class="page-title"><%= @term["term"]["name"] %></h1>
			<%= @term["term"]["definition"] %><br /><br />
	</div>

	<div class="large-4 columns">
        <div class="row">
          <div class="large-12 small-6 columns">
 			<div class="panel">
        		<h5>Related Reports</h5>
      		</div>
          </div>
        </div>
     </div>
</div>	


<div class="row">
	<div class="small-12 large-8 columns">
		<h5 class="page-title">General Information</h5>
		<h6 class="subheader">Data Availability</h6>
			<%= @term["term"]["data_availability"] %><br /><br />
		<h6 class="subheader">Data Sensitivity</h6>
			<%= @term["term"]["data_sensitivity"] %><br /><br />
		<h6 class="subheader">Possible Values</h6>
			<%= @term["term"]["possible_values"] %><br /><br />
		<h6 class="subheader">Notes</h6>
			<%= @term["term"]["notes"] %><br /><br />
	</div>
</div>

<div class="row">
	<div class="small-12 large-12 columns">
		<h5 class="page-title">R.A.C.I. Matrix
				<font class="right" size="3"> (Details)</font>
		</h5>
		<div class="row">
			<table class="raci_table">
			  <tbody>
			    <tr>
			      	<td>R</td>
			      	<td>
			      	<% @term["stakeholders"].each do |stakeholder| %>
						<% if (stakeholder["stake"] =="Responsible") then %>
							<%= stakeholder["name"] %>;
						<% end %>
					<% end %>
					</td>
			    </tr>
			    <tr>
			      	<td>A</td>
			      	<td>
			      		<% @term["stakeholders"].each do |stakeholder| %>
							<% if (stakeholder["stake"] =="Accountable") then %>
								<%= stakeholder["name"] %>;
							<% end %>
						<% end %>
					</td>
			    </tr>
			    <tr>
			      	<td>C</td>
			      	<td>
			      		<% @term["stakeholders"].each do |stakeholder| %>
							<% if (stakeholder["stake"] =="Consult") then %>
								<%= stakeholder["name"] %>;
							<% end %>
						<% end %>
			      	</td>
			    </tr>
			    <tr>
			      	<td>I</td>
			      	<td>
			      		<% @term["stakeholders"].each do |stakeholder| %>
							<% if (stakeholder["stake"] =="Inform") then %>
								<%= stakeholder["name"] %>;
							<% end %>
						<% end %>
			      	</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>



<div class = "row">
	<div class="small-12 large-12 columns">
		<h1 class="page-title"></h1>
		<div class="right">
			<dfn>
				Last Updated: <%= @term["term"]["modified_date"].to_datetime.strftime("%a, %d %b %Y %I:%M %p") %>
			</dfn>
		</div>
	</div>
</div>


<% else %>

<div class="row">
	<div class="medium-9 large-9 columns">
		<h1>Nonexistant Term</h1>
		We are sorry to inform you that the term you are currently looking for does not exist in our database.  If you feel that the following term should be added to Notre Dame's data dictionary, please proceed as follows:
	</div>
	<div class="large-3 medium-3 columns">
  	<div class="panel">
  		<form>
	  	<div class="row">
	    	<div class="large-12 columns">
	      		<label>Search Glossary</label>
	      		<input type="text" placeholder="Term" />
	    	</div>
	  	</div>
	  	<div class="row">
	    	<div class="large-12 columns">
	      		<label>Responsible Organization</label>
	      		<select>
	        		<option value="husker">All</option>
	        		<option value="starbuck">Human Resources</option>
	        		<option value="hotdog">Provost</option>
	        		<option value="apollo">Registrar</option>
	         		<option value="steak">Finance</option>
	      		</select>
	    	</div>
	  	</div>
		</form>
	 	<div class="row">
  	  		<div class="columns text-center A-Z-Links">
		  	<a href="#">A</a>
			  <a href="#">B</a>
			  <a href="#">C</a>
			  <a href="#">D</a>
			  <a href="#">E</a>
			  <a href="#">F</a>
			  <a href="#">G</a>
			  <a href="#">H</a>
			  <a href="#">I</a>
			  <a href="#">J</a>
			  <a href="#">K</a>
			  <a href="#">L</a>
			  <a href="#">M</a>
			  <a href="#">N</a>
			</BR>
			  <a href="#">O</a>
			  <a href="#">P</a>
			  <a href="#">Q</a>
			  <a href="#">R</a>
			  <a href="#">S</a>
			  <a href="#">T</a>
			  <a href="#">U</a>
			  <a href="#">V</a>
			  <a href="#">W</a>
			  <a href="#">X</a>
			  <a href="#">Y</a>
			  <a href="#">Z</a>
			</div>
  	  	</div>
  	</div>
  	</div>
</div>

<!--Error: <%= @term["message"] %>-->

<% end %>