
  <script>
    term_object = <%= @term["term"].to_json.to_s.html_safe %>
    office_json = <%= @office_json.to_s.html_safe %>
 </script>


<div id ="term_detail">
<div class="row">
	<div class="large-4 columns">
		<input type="button" value="Update Term" id="updateTermButton" />
	</div>
	<div class="large-4 columns">
		<input type="button" value="Delete Term" id="deleteTermButton" />
	</div>
	<div class="large-4 columns">

	</div>
 </div>
</div>

<% if @term["success"] %>
<div class="row">
</br>
<div class="large-12 columns">
	<div class="small-12 large-8 columns">

			<div id="name" class="editable">
				<h3 class="page-title">
			<%= @term["term"]["name"] %>
			</h3>
		</div>

		<div class="editable" id="definition">
			<%= @term["term"]["definition"].html_safe %>
		</div><br/>
		<h5 class="page-title">General Information</h5>
		<dl>
			<dt>Data Availability</dt>
				<dd>

					<font size="2" color="gray">
						<div id="data_availability" class="editable">
							<% if @term["term"]["data_availability"]  then %>
							 <%= @term["term"]["data_availability"].html_safe %>
							 <%else%>
							  NA
							  <%end%>
				    	 </div>
					</font>

				</dd>
			</dt>
			<dt>Possible Values</dt>
				<dd>
					<font size="2" color="gray">
						<div id="possible_values" class="editable">
							<% if @term["term"]["possible_values"] then %>
							<%= @term["term"]["possible_values"].html_safe %>
							 <%else%>
							   NA
							  <%end%>
							</div>
					</font>
				</dd>
			</dt>
			<dt>Notes</dt>
				<dd>
					<font size="2" color="gray"><div id="notes" class="editable">

						<% if @term["term"]["notes"]  then %>
							<%= @term["term"]["notes"].html_safe %>
							 <%else%>
							   NA
							  <%end%>
						</div></font>
				</dd>
			</dt>
		</dl>
	</div>
	<div class="large-4 columns">
        <div class="row">
          <div class="large-12 small-6 columns">
 			<div class="panel">
        		<h5>Related Reports</h5>
        		<ol>
        			<li><a href="reports/tableau">Undergraduate Enrollment</a></li>
        			<li><a href="http://localhost:3000/reports/powerview">Active Student</a></li>
        			<li><a href="/reports/business_objects">Mendoza College Enrollment</a></li>
        			<li><a href="/reports/access_denied">Talent Review Dashboard</a></li>
        		</ol>
      		</div>
          </div>
        </div>
     </div>
	<div class="small-12 large-12 columns">
		<h5 class="page-title">R.A.C.I. Matrix</h5>
		<div class="row">

			<table class="raci">
			  <tbody class="tbody">
			    <tr>
			      	<td>R</td>
			      	<td>
			      		<div>
			      		 <% @term["stakeholders"].each do |stakeholder| %>
			               <% if (stakeholder["stake"] =="Responsible") then %>
						   <%if  stakeholder["name"] then %>
						      <%= stakeholder["name"] %>
					      <% end %>
                      <% end %>
					   	<% end %>
					</div>
					</td>
			    </tr>
			    <tr>
			      	<td>A</td>
			      	<td>
			    		 <input type="hidden" id="test" />
						<p>Selected Options: <span id="selectedText"></span></p>
			      		<% @term["stakeholders"].each do |stakeholder| %>
							<% if (stakeholder["stake"] =="Accountable") then %>
								<%= stakeholder["name"] %>;
							<% end %>
						<% end %>
					</td>
			    </tr>
			    <tr>
			      	<td>C</td>
			      	<td>
			      		<% @term["stakeholders"].each do |stakeholder| %>
							<% if (stakeholder["stake"] =="Consult") then %>
								<%= stakeholder["name"] %>;
							<% end %>
						<% end %>
			      	</td>
			    </tr>
			    <tr>
			      	<td>I</td>
			      	<td>
			      		<% @term["stakeholders"].each do |stakeholder| %>
							<% if (stakeholder["stake"] =="Inform") then %>
								<%= stakeholder["name"] %>;
							<% end %>
						<% end %>
			      	</td>
			    </tr>
			  </tbody>
			</table>
		</div>
		<h1 class="page-title"></h1>
		<div class="right">
			<dfn>
				Last Updated: <%= @term["term"]["modified_date"].to_datetime.strftime("%a, %d %b %Y %I:%M %p") %>
			</dfn>
		</div>
	</div>
</div>
</div>


<% else %>

<div class="row">
	<div class="medium-9 large-9 columns">
		<h1>Nonexistant Term</h1>
		We are sorry to inform you that the term you are currently looking for does not exist in our database.  If you feel that the following term should be added to Notre Dame's data dictionary, please proceed as follows:
	</div>
	<div class="large-3 medium-3 columns">
  	<div class="panel">
  		<form>
	  	<div class="row">
	    	<div class="large-12 columns">
	      		<label>Search Glossary</label>
	      		<input type="text" placeholder="Term" />
	    	</div>
	  	</div>
	  	<div class="row">
	    	<div class="large-12 columns">
	      		<label>Responsible Organization</label>
	      		<select>
	        		<option value="husker">All</option>
	        		<option value="starbuck">Human Resources</option>
	        		<option value="hotdog">Provost</option>
	        		<option value="apollo">Registrar</option>
	         		<option value="steak">Finance</option>
	      		</select>
	    	</div>
	  	</div>
		</form>
	 	<div class="row">
  	  		<div class="columns text-center A-Z-Links">
		  	<a href="#">A</a>
			  <a href="#">B</a>
			  <a href="#">C</a>
			  <a href="#">D</a>
			  <a href="#">E</a>
			  <a href="#">F</a>
			  <a href="#">G</a>
			  <a href="#">H</a>
			  <a href="#">I</a>
			  <a href="#">J</a>
			  <a href="#">K</a>
			  <a href="#">L</a>
			  <a href="#">M</a>
			  <a href="#">N</a>
			</BR>
			  <a href="#">O</a>
			  <a href="#">P</a>
			  <a href="#">Q</a>
			  <a href="#">R</a>
			  <a href="#">S</a>
			  <a href="#">T</a>
			  <a href="#">U</a>
			  <a href="#">V</a>
			  <a href="#">W</a>
			  <a href="#">X</a>
			  <a href="#">Y</a>
			  <a href="#">Z</a>
			</div>
  	  	</div>
  	</div>
  	</div>

</div>
</div>
<!--Error: <%= @term["message"] %>-->

<% end %>
