.row
  .large-12.columns
    %h3.page-title My User Name

    %h5= current_user.user_name
.row
  .large-12.columns
    %h3.page-title My Security Roles
.row
- current_user.security_roles.each do |sr|  
  .row
    .large-12.columns
      %h5= sr["name"]
    .large-2.columns
      %h6 Read Access
      %p= if sr["read_access_to"] then "Granted" else "Denied" end
    .large-2.columns
      %h6 Create Access
      %p= if sr["create_access_to"] then "Granted" else "Denied" end
    .large-2.columns
      %h6 Update Access
      %p= if sr["update_access_to"] then "Granted" else "Denied" end
    .large-2.columns.end
      %h6 Delete Access
      %p= if sr["update_access_to"] then "Granted" else "Denied" end
    %br
    %br
    .large-8.columns
      .page-title
    %br

- unless Rails.env == "production"
  .row
    .large-12.columns
      %h3.page-title Admin Emeritus?
  .row
    .large-12.columns.explanation
      This section will not be displayed in production environment. The current environment is
      %span{ :style => "font-style: italic;"}= Rails.env
  .row
    .large-12.columns
      %p Do you have Admin Emeritus rights? Check to the right: 
      = current_user.admin_emeritus?
  - if current_user.admin_emeritus?
    .row
      .large-12.columns
        


  / .row
  /   .large-12.columns
  /     .page-title
