.top-bar-wrap
  %nav.top-bar.row{"data-topbar" => ""}
    %div
      .large-12
        / Title
        %ul.title-area
          %li.name
          / Mobile Menu Toggle
          %li.toggle-topbar.menu-icon
            %a{:href => "#"} Menu
        / Top Bar Section
        %section.top-bar-section
          / Top Bar Left Nav Elements
          %ul.left
            / Search | has-form wrapper
            %li
              %h3.dddm-header Data Driven Decision Making
          / Top Bar Right Nav Elements
          %ul.right
            / Divider
            - url = request.path.pluralize
            - if current_user
              
              / %li
              / = current_user.user_obj

              %li
                = link_to 'Report Gallery', "/browse/report", :style => ("background: #666666;" if url == "/browse/reports")
              / %li
              /   = link_to 'Datasets', "/browse/datasets", :style => ("background: #666666;" if url == "/browse/datasets")
              %li
                = link_to 'Offices', "/browse/offices", :style => ("background: #666666;" if url == "/browse/offices")
            %li
              = link_to 'Glossary', "/browse/term", :style => ("background: #666666;" if url == "/browse/terms")
            %li.has-dropdown
              - if current_user
                %a{:href => "#"}= current_user.name
                %ul.dropdown
                  %li
                    = link_to 'My Security Roles', "/users/myprofile"

                  - if current_user && current_user.can( :publish_report )
                    %li.divider
                    %li
                      %a{"data-reveal-id" => "reporttiny", :href => "#"}
                        %strong Register New Report
                      #reporttiny.reveal-modal.tiny{"data-reveal" => ""}
                        %h2 Add New Report
                        Name:
                        %input#rname{:name => "rname", :type => "text"}
                        %br
                        .row
                          / .large-4.columns
                          /   %span
                          .large-5.large-centered.columns
                            %input#createReportButton.expand.button{:type => "button", :value => "Save Report"}/
                            / .large-4.columns
                          %a.close-reveal-modal ×
                  - if current_user && current_user.can(:edit_term)
                    / <li class="divider"></li>
                    %li.title.back.js-generated
                    %li
                      %a{"data-reveal-id" => "mytiny", :href => "#"}
                        %strong Add New Term
                      #mytiny.reveal-modal.tiny{"data-reveal" => ""}
                        %h2 Add a New Term
                        Name:
                        %input#tname{:name => "tname", :type => "text"}
                        %br
                        .row
                          / .large-4.columns
                          /   %span  
                          .large-5.large-centered.columns
                            %input#createTermButton.expand.button{:type => "button", :value => "Save Term"}
                          / .large-4.columns
                        %a.close-reveal-modal ×
                    / <li class="divider"></li>
                    %li
                      %a{"data-reveal-id" => "officetiny", :href => "#"}
                        %strong Add New Office
                      #officetiny.reveal-modal.tiny{"data-reveal" => ""}
                        %h2 Add New Office
                        Name:
                        %input#oname{:name => "oname", :type => "text"}
                        %br
                        .row
                          / .large-4.columns
                          /   %span
                          .large-5.large-centered.columns
                            %input#addOfficeButton.expand.button{:type => "button", :value => "Save Office"}
                          / .large-4.columns
                          %a.close-reveal-modal ×
                  %li.divider
                  %li
                    %a{:href => "#"}= link_to "Log Out", logout_path        
              - else
                %li
                  = link_to "Log In", login_path
