%nav.top-bar{"data-topbar" => "", :role => "navigation"}

  %ul.title-area
    %li.name
      %h3
        %a.noBorderBottom{:href => "/"} Data Driven Decision Making
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}


  %ul.top-bar-section
    %ul.right

      %li= link_to 'Glossary', "/browse/term"
      - if current_user
        %li= link_to 'Reports', "/browse/report"
        %li= link_to 'Datasets', "/browse/datasets"

        - if current_user.can( :edit_term )
          %li= link_to 'Offices', "/browse/offices"
          %li= link_to 'Permission Groups', "/browse/permission_groups"

      %li.has-dropdown
        - if current_user
          %a.noBorderBottom{:href => "#"}= current_user.name
          %ul.dropdown
            %li= link_to 'My Security Roles', "/users/myprofile", :class => "noBorderBottom listHighlight"

            - if current_user && current_user.can( :publish_report )
              %li
                %a.noBorderBottom.listHighlight{"data-reveal-id" => "reporttiny", :href => "#"}
                  Register New Report

                #reporttiny.reveal-modal.tiny{"data-reveal" => ""}
                  %h2 Add New Report
                  Name:
                  %input#rname{:name => "rname", :type => "text"}
                  %br
                  .row
                    .large-5.large-centered.columns
                      %input#createReportButton.expand.button{:type => "button", :value => "Save Report"}/
                    %a.close-reveal-modal ×

            - if current_user && current_user.can(:edit_term)
              %li.title.back.js-generated
              %li
                %a.noBorderBottom.listHighlight{"data-reveal-id" => "mytiny", :href => "#"}
                  Add New Term
                #mytiny.reveal-modal.tiny{"data-reveal" => ""}
                  %h2 Add a New Term
                  Name:
                  %input#tname{:name => "tname", :type => "text"}
                  %br
                  .row
                    .large-5.large-centered.columns
                      %input#createTermButton.expand.button{:type => "button", :value => "Save Term"}
                  %a.close-reveal-modal ×
              %li
                %a.noBorderBottom.listHighlight{"data-reveal-id" => "officetiny", :href => "#"}
                  Add New Office
                #officetiny.reveal-modal.tiny{"data-reveal" => ""}
                  %h2 Add New Office
                  Name:
                  %input#oname{:name => "oname", :type => "text"}
                  %br
                  .row
                    .large-5.large-centered.columns
                      %input#addOfficeButton.expand.button{:type => "button", :value => "Save Office"}
                    %a.close-reveal-modal ×
              %li
                %a.noBorderBottom.listHighlight{"data-reveal-id" => "permissiongrouptiny", :href => "#"}
                  Add New Permission Group
                #permissiongrouptiny.reveal-modal.tiny{"data-reveal" => ""}
                  %h2 Add New Permission Group
                  Name:
                  %input#pgname{:name => "pgname", :type => "text"}
                  %br
                  .row
                    .large-9.large-centered.columns
                      %input#addPermissionGroupButton.expand.button{:type => "button", :value => "Save Permission Group"}
                    %a.close-reveal-modal ×
            %li
              %a{:href => "#"}= link_to "Log Out", logout_path, :class => "noBorderBottom listHighlight"

        - else
          %li
            = link_to "Log In", login_path
