<script>
 count_json = <%= @results_count.to_json.html_safe%>
</script>

<div class="row">
 <div class="large-12 columns" >
    <dl class="tabs vertical" data-tab>
      <dd class="active"><a href="#terms">Glossary
       <span class="radius secondary label">
       <%= @results_hash["term"] %>
     </span></a></dd>
       <dd><a href="#reports">Reports</a></dd>
      <dd><a href="#offices">Offices
       <span class="radius secondary label">
       <%= @results_hash["office"] %>
     </span></a></dd>
    </dl>
    <div class="tabs-content vertical">
      <div class="content active" id="terms">
     <%= render partial: 'terms/partial_search' %> 
      </div>
       <div class="content" id="reports">
        Under Construction 
      </div>
      <div class="content"  id="offices">
        <%= render partial: 'offices/partial_office_search'  %> 
      </div>
    </div>
  </div>
 </div>
