<div class ="row">
    <dl class="tabs vertical" data-tab>
      <dd class="active">
      <% @node_types.each do |type_name| %>
       <% if "#{type_name}"!= "term" then %>
        <dd>
       <%end%>
        <a href="#<%= type_name.pluralize %>"><%= type_name %>
            <span class="radius secondary label"><%= @results_hash[type_name] %></span>
         </a>
       </dd>
      <% end %>

    </dl>


    <div class="tabs-content vertical">

      <% @node_types.each do |type_name| %>
       <% if "#{type_name}" == "term" then %>
          <div class= "content active" id="<%= type_name.pluralize %>">
       <%else%>
          <div class="content" id="<%= type_name.pluralize %>">
       <%end%>
       <%= render partial: "#{type_name.pluralize}/partial_search", locals: {results: @results[type_name]} %>
       </div>
      <% end %>

    </div>
     
<div>
