<!-- I want to call this file filter_count_nav_bar.html.erb -->
<div class="row">
  <div class="medium-9 medium-centered columns">


    <dl class="sub-nav">
      <dt>Results:</dt>
      <dd class="active"><a href="#">All</a></dd>
<!--       <% @node_types.each_with_index do |type_name,index| %>
      <% end %> -->
      <dd><a href="#">Reports</a></dd>
      <dd><a href="#">Glossary</a></dd>
      <!-- <dd><a href="#">Offices</a></dd> -->
    </dl>
  </div>
</div>
</div>

<!-- SIDEBAR -->
<!-- <div class="row">
  <dl class="left-sidebar small-2 column">

    <% @node_types.each_with_index do |type_name,index| %>
      <div class="data-type-label-container toggleable-data-type-label-container">
        <div>
          <div class="data-type-toggle">
            <div data-resource-name="<%= type_name %>" class="toggle_light toggle_on 
              <%= "toggle_off" if !@selected_node_types.include? type_name %>">
              <%= check_box_tag '', '', (@selected_node_types.include? type_name) %>
            </div>
          </div>
          <div class="data-type-label"><%= type_name %></div>
          <div class="data-type-count"><%= @resource_count_hash[type_name] || 0 %></div>
        </div>
      </div>
    </br>
    <% end %>

    <% if current_user %>
      <div class="data-type-label-container">
        <div>
          <div class="sidebar_security_role_row sidebar_security_role_header">
            <div class="data-type-toggle">&nbsp;</div>
            <div class="data-type-label">my security roles</div>
          </div>
          <% @report_roles.each do |role| %>
            <div class="sidebar_security_role_row">
              <div class="data-type-toggle">
                <div class="toggle_light toggle_on toggle_off">
                  <%= check_box_tag '', ''%>
                </div>
              </div>
              <div class="data-type-label"><%= role.name %> </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    </dl>
    <!-- SIDEBAR -->



    <!-- SEARCH RESULTS -->
  <div class="row">
    <div class="large-11 large-centered columns" id="search_results_right">
        <div class="content" >
          <%= render partial: "partial_search", locals: {results: @results || [] } %>
        </div>
    </div>
  </div>
    <!-- SEARCH RESULTS -->

</div>

</div>