.reportSearchResult{:id => "#{result["id"]}"}
  .result_header
    .result_icon_report
    %h1.result_title
      %a.do_highlight.res_title{:href => "../#{result["&type"].pluralize}/#{result["name"]}"}
        = result["name"]
  .do_highlight.result_body
    - @description = result["description"].truncate(300, separator: ' ')
    = @description.html_safe
