- if @report["success"]
  :javascript
    report_object =       #{@report["report"].to_json.to_s.html_safe}
    report_embed_object = #{@report_embed.to_json.to_s.html_safe}
    term_reports =        #{@term_reports.to_s.html_safe}
    term_gov_json =       #{@term_gov_json.to_s.html_safe}
    // office_gov_json =  #{@office_gov_json.to_s.html_safe}
    role_reports  =       #{@role_reports.to_s.html_safe}
    security_roles_json = #{@security_roles_json.to_s.html_safe}

  .row
    .large-8.columns
      %ul#error_list{:style => "display:none"}
      / .alert-box.alert.radius{"data-alert" => "", :style => "display:none"}
      /   %ul.error_list
      /   %a.close{:href => "#"} ×
      .alert-box.warning.radius{"data-alert" => "", :style => "display:none"}
        %ul.error_list
        %a.close{:href => "#"} ×
      .alert-box.success.radius{"data-alert" => "", :style => "display:none"}
        %span.success_msg
        %a.close{:href => "#"} ×
  .row
    .large-12.columns
      #mytinyDelete.reveal-modal.tiny{"data-reveal" => ""}
        %h2 Deleting Report
        %br
        %b Are you sure?
        %br
        %br
        %input#deleteConfirm.tiny.button{:type => "button", :value => "Yes"}
        %input#deleteCancel.tiny.button{:type => "button", :value => "No"}
        %a.close-reveal-modal ×
  - if @report["report"]["report_type"] != "Aggregation"
    - if @report["report"]["report_type"] != "External"
    
      - if current_user && current_user.can( :publish_report )
        .row
          .large-1.large-offset-11.columns
            #currentmode Preview Mode
            #edittoggle.switch.radius
              %input#editmode{:type => "checkbox"}
              %label{:for => "editmode"}

  #report_detail

    - if current_user && current_user.can( :publish_report )
      .edit
        .row
          .large-12.columns
            %h3.page-title Name    
        .row  
          .large-6.columns
            %input#name-edit{:value => "#{@report["report"]["name"]}", :type => "text"}
          
    .row.view  
      / $('#name-view').text().trim();    
      .large-12.columns
        %h2#name-view.page-title
          = @report["report"]["name"].html_safe



    .edit
      .row
        .large-12.columns
          %h4.page-title Description:
    .row
      .large-12.columns
        #description
          - if @report["report"]["description"].present?
            = @report["report"].fetch("description", "NA").html_safe

  - if @report["report"]["report_type"] == "External"
    / External report
    - if @report_embed.present?
      .row
        .large-12.large-centered.columns
          %iframe#reportframe{:frameborder => "0", :height => @report_embed["height"], :scrolling => "no", :src => @report_embed["external_uri"], :width => @report_embed["width"]}
    - else
      .row
        .large-12.large-centered.columns
          %p There is currently no embedded reports for this report
  - elsif @report["report"]["report_type"] == "Aggregation"
    - if @report_embed.present?
      .row
        .large-12.columns
          %ul{:class => "small-block-grid-1 medium-block-grid-2 large-block-grid-#{@report_embed["gridsize"].to_s}"}
            - @subreports.each do |subreport|
              %li
                .row
                  .small-12.medium-12.large-12.columns
                    %a{:href => subreport["name"]}
                      %h5= subreport["name"]
                .row
                  .small-12.medium-12.large-12.columns
                    %a{:href => subreport["name"]}
                      %img{:src => subreport["thumbnail_uri"]}

  - if @report["report"]["report_type"] == "Tableau"

    %br
    .row
      #tableauiframe.large-12.columns
        - if @tableau_parse["width"].present? then
          %script{:src => "https://tableau.nd.edu/javascripts/api/viz_v1.js", :type => "text/javascript"}
          #tableauPlaceholderId.tableauPlaceholder{:style => "width:#{@tableau_parse["width"]}; height:#{@tableau_parse["height"]};"}
            %object.tableauViz{:height => @tableau_parse["height"], :style => "display:none;", :width => @tableau_parse["width"]}
              %param{:name => "host_url", :value => "https%3A%2F%2Ftableau.nd.edu%2F"}
              %param{:name => "site_root", :value => ""}
              %param{:name => "name", :value => (@tableau_parse["name"].html_safe) }
              %param{:name => "tabs", :value => (@tableau_parse["tabs"].html_safe) }
              %param{:name => "linktarget", :value => "_self"}
              %param{:name => "toolbar", :value => "yes"}

  %br
  - if current_user && current_user.can( :publish_report )
    .row.edit
      .large-12.large-centered.columns
        %h5.page-title Sample Image
        .medium-2.columns
          / %p= @report_photo.image_url(:small)
          = image_tag @report_photo.image_url, :onerror => "this.src = '/assets/chart-icon-07.svg';this.removeAttribute('onerror');"
        %br
    .row.edit
      .large-12.large-centered.columns
        .medium-3.columns
          %span{:style => "font-weight:normal;font-size:.7em;font-style:italic"} Recently uploaded images may take a few moments to appear.
          %br
          = form_tag report_image_upload_path, :method => "post", :id => 'report_image_upload', :multipart => true do
            = hidden_field_tag "id", @report["report"]["id"]
            = hidden_field_tag "name", @report["report"]["name"]
            = hidden_field_tag "timestamp", @report["report"]["timestamp"]
            Upload/replace sample image:
            = file_field_tag "image"

  - if @report["report"]["report_type"] !=  "External"  &&  @report["report"]["report_type"] != "Aggregation"

    / governance terms

    .row
      .large-12.large-centered.columns
        %h5.page-title Data Governance Terms
        
        .view
          - if !@report["terms"].empty? then
            - @report["terms"].each do |result|
              - if result["name"]  then
                %a.do_highlight{:href => "../terms/#{result["name"]}"}
                  .large-12.columns
                    = result["name"]
                    %br
                    %br
          - else
            Data Governance Terms have not been yet registered with this report
        
        - if current_user && current_user.can( :publish_report )
          .edit
            .row
              %table.raci
                %tbody.tbody
                  %tr.term_row
                    %td
                      %input#term_input.term_input{"data-init" => @term_reports.to_s, :type => "hidden"}

    / security roles
    
  .row
    .large-12.large-centered.columns
      %h5.page-title Security Roles Associated with this Report

      .view
        - if @report_roles.present?
          - @report_roles.each do |result|
            .large-12.columns
              = result[:text]
              %br
              %br
      .edit
        - if current_user && current_user.can( :publish_report )
          .row
            %table.raci
              %tbody.tbody
                %tr.security_row
                  %td
                    %input#role_input.role_input{"data-init" => @report_roles_json.to_s, :type => "hidden"}



  / .row
  /   .large-12.columns
  /     %h5.page-title Additional Information

  /     - if current_user && current_user.can( :publish_report )
  /       // Add in when we are ready to add report type
  /       %dt Report Type
  /       %dd
  /          %input#reporttype{:value => "#{@report["report"]["report_type"]}", :type => "text"}
  /       %dt Data Source
  /       %dd
  /         %input#datasource{:value => "#{@report["report"]["datasource"]}", :type => "text"}
  /     - else
  /       %dt Report Type
  /       %dd
  /         = @report["report"]["report_type"].html_safe
  /       %dt Data Source
  /       %dd
  /         = @report["report"]["datasource"]
        
        


  - if @report["report"]["report_type"] ==  "Tableau"
    - if current_user && current_user.can( :publish_report )
      .row.edit
        .large-12.large-centered.columns
          %h5#tableauparameters.page-title Report Parameters for Tableau
      .row.edit
        .large-8.columns
          %input#tableaulink{:value => "#{@report["report"]["tableau_link"]}", :placeholder => "Tableau Embed", :type => "text"}


  .row
    .large-12.large-centered.columns
      %h5.page-title Office Owner
  .row
    .large-6.columns
      - if current_user.can(:publish_report)
        .edit
          = select_tag 'office_id', options_for_select(@offices.collect{ |o| o[:text] }, @report_office_owner_name), {:id => 'office_owner', :include_blank => true, :prompt => "Please Choose Office"}
      .view
        .large-12.columns
          %p= "#{@report_office_owner_name}"
                    
  .row.edit
    .large-12.large-centered.columns
      %h5.page-title Report Type
  .row.edit    
    .large-6.columns
      = select_tag 'type', options_for_select(["Tableau", "Aggregation", "External"], @report["report"]["report_type"]), { :include_blank => true, :prompt => "Please Choose Type"}
  .row.edit
    .medium-2.medium-offset-4.columns
      %input#updateReportButton.small.button.expand{:type => "button", :value => "Update Report"}
    .medium-2.columns.end
      %input#deleteReportButton.small.button.expand{"data-reveal-id" => "mytinyDelete", :type => "button", :value => "Delete Report"}

  %br
  %br
  .row 
    .large-12.columns
      .page-title
      / = @report
  .row
    .large-4.columns
      Created By 
      = @report["report"]["created_by"]
      %br
      On 
      - c_date = DateTime.iso8601(@report["report"]["created_date"])
      = c_date.strftime("%B %d at %I:%M %p")

    .large-4.columns
      Last Modified By  
      = @report["report"]["modified_by"]
      %br
      On
      - m_date = DateTime.iso8601(@report["report"]["modified_date"])
      = m_date.strftime("%B %d at %I:%M %p")
  %ol.joyride-list{"data-joyride" => ""}
    %li{"data-text" => "Next"}
      %p
        This is the Report View page. We've added some new features so take a look!
    %li{"data-prev-text" => "Prev", "data-id" => "edittoggle", "data-options" => "tip_location:left;", "data-text" => "Next"}
      %h4 Edit/View Toggle
      %p The thing we're most excited about is the Mode Toggle. With it you can toggle between the View mode(which is default) and the Edit mode!
      %p Click "Next" on me then click the Mode Toggle to continue the tour!
    %li{"data-prev-text" => "Prev", "data-id" => "edittoggle", "data-options" => "tip_location:left;", "data-text" => "Next"}
      %p
        Click it, and input text boxes, grey guide lines, and other things for editing will appear!
      %p
        Keep in mind that any changes made in edit mode will not reflect in View mode until after you update the report.
    %li{"data-id" => "name-view", "data-prev-text" => "Prev", "data-text" => "Next"}
      %h4 Name of the report
      %p When people search for the report, this is what is desplayed along with the first line of the description.
    %li{"data-button" => "Next", "data-id" => "description", "data-options" => "tip_location:top;tip_animation:fade", "data-prev-text"=> "Prev"}
      %h4 Description
      %p The description area is a powerful editing suite enabling bullet lists, indentation, alignment, headings, and even tables.
    %li{"data-prev-text" => "Prev", "data-id" => "description", "data-text" => "Next"}
      %p
        To start editing the text, click in the text area indicated by the 2 grey lines. 
      %p
        To stop editing the text, just click outside of the text area.
    %li{"data-button" => "Next", "data-id" => "tableauiframe", "data-options" => "tip_location:top", "data-prev-text" => "Prev"}
      %h4 Tableau Window
      %p 
        Here the Tableau report is pulled directly from Tableau
    %li{"data-button" => "Next", "data-id" => "tableauiframe", "data-options" => "tip_location:top", "data-prev-text" => "Prev"}
      %p
        There are 2 requirements to make the Tableau report show:
      %ol
        %li
          You must be logged into
          = link_to 'tableau.nd.edu', 'http://tableau.nd.edu', :target => "_blank"
        %li
          You must define the parameters for the Tableau report. We'll go over this next
    %li{"data-id" => "tableauparameters", "data-prev-text" => "Prev", "data-text" => "Next"}
      %h4 Tableau Parameters
      %p This is the trickiest part of the Report creation process.
      %p On the show page of your report at tableau.nd.edu is a share link in the top left
      = image_tag("share_link.png")
    %li{"data-button" => "End", "data-prev-text" => "Prev"}
      %h4 Stop #3
      %p It works as a modal too!

  // I'm keeping this function as inline script(which is not the rails way, I know)
  // The reason is I only want thi script to run on this specific page for now
  // Eventually I'm going to have this joyride function on all the node pages
  / :javascript
  /   $(window).load(function() {

  /   if ( determine_if_new_report("#{@report["report"]["created_date"]}", 3000000) ) {
  /     alert("hey you have a new report");
  /   }
  /   else {
  /     alert("not a new report");
  /   };

  /   function determine_if_new_report( node_created_date, time_threshold_in_ms ) {
  /     created_date_js = new Date(node_created_date);
  /     var current_timeInMs = Date.now();
  /     var time_difference = current_timeInMs - created_date_js;
      
  /     if ( time_difference < time_threshold_in_ms ) {
  /       return true;
  /     }
  /     else {
  /       return false;
  /     }
  /   };
  /     $(document).foundation('joyride', 'start');
  /   });
- else
  .row
    .medium-12.large-12.columns
      %h1 Unregistered Report
      This report is unregistered or the meta-data about the report has been lost.  Please send us feedback and we will get back to you within 1 business day.