<% if @report["success"] %>
  <script>
    report_object = <%= @report["report"].to_json.to_s.html_safe %>
    report_embed_object = <%= @report_embed.to_json.to_s.html_safe %>
    term_reports = <%= @term_reports.to_s.html_safe %>
    term_gov_json =<%= @term_gov_json.to_s.html_safe %>
    role_reports  = <%= @role_reports.to_s.html_safe %>
    security_roles_json =<%= @security_roles_json.to_s.html_safe %>
  </script>


  <div class="row">
    <div class="large-8 columns">
      <div data-alert class="alert-box alert radius" style="display:none">
        <ul class="error_list"></ul>
        <a href="#" class="close">&times;</a>
      </div>
      <div data-alert class="alert-box warning radius" style="display:none">
        <ul class="error_list"></ul>
        <a href="#" class="close">&times;</a>
      </div>
      <div data-alert class="alert-box success radius" style="display:none">
        <span class="success_msg"></span>
        <a href="#" class="close">&times;</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
     <div class="reveal-modal tiny" id="mytinyDelete" data-reveal="">
        <h2>Deleting Report</h2> <br>
        <b> Are you sure? </b> <br> <br>
        <input type="button" class ="tiny button" value="Yes" id="deleteConfirm" />
        <input type="button" class ="tiny button" value="No" id="deleteCancel" />
        <a class="close-reveal-modal">×</a>
      </div>  
    </div>
  </div>

  <div id ="report_detail">

    <!-- #name{:class=> ("editable" if current_user current_user.can( :publish_report ) )} -->
    <div class="row">
      <div class="large-12 columns">
        <% if current_user && current_user.can( :publish_report ) %>
          <div id="name" class="editable">
        <%else%>
          <div id="name">
        <%end%>
          <h2 class="page-title">
            <%= @report["report"]["name"].html_safe %>
          </h2>
          </div>
        </div>
      </div>
    </div>

    <!-- #description{:class => ("editable" if current_user && current_user.can( :publish_report ) } -->
    <div class="row">
      <div class="large-12 columns">
        <% if current_user && current_user.can( :publish_report ) %>
          <div id="description" class="editable">
        <%else%>
          <div id="description">
        <%end%>
        
        <% if @report["report"]["description"]  then %>
          <%= @report["report"]["description"].html_safe %>
        <%else%>
          NA
        <%end%>    
          </div> 
        </div> 
      </div>
    </div>

  </div>
      
     
  <% if @report["report"]["report_type"] == "External" %> 
    <!-- External report -->
    <div class="row">
      <div class="large-12 large-centered columns">  
        <iframe
          id="reportframe"
          frameborder="0"
          scrolling="no"
          width="<%= @report_embed["width"] %>"
          height="<%= @report_embed["height"] %>"
          src="<%= @report_embed["external_uri"] %>"
        >
        </iframe>
      </div>
    </div>
  <% elsif @report["report"]["report_type"] == "Aggregation" %>
    <!-- Aggregation of sub-reports -->
    <div class="row">
      <div class="large-12 columns">
        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-<%= @report_embed["gridsize"].to_s %>">
          <% @subreports.each do |subreport| %>
            <li>
              <div class="row">
                <div class="small-12 medium-12 large-12 columns">
                  <a href="<%= subreport["name"] %>"><h5><%= subreport["name"] %></h5></a>
                </div>
              </div>
              <div class="row">
                <div class="small-12 medium-12 large-12 columns">
                  <a href="<%= subreport["name"] %>"><img src="<%= subreport["thumbnail_uri"] %>"></img></a>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% else %>
    <!-- Tableau report -->
    <% if @report_embed["width"] != "" then %>
      <div class="row">
        <div class="large-12 large-centered columns">  
          <script type='text/javascript' src='https://tableau.nd.edu/javascripts/api/viz_v1.js'></script>
          <div class='tableauPlaceholder' style='width:<%= @report_embed["width"] %>; height:<%=@report_embed["height"] %>;'>
            <object class='tableauViz' width='<%= @report_embed["width"] %>' height='<%= @report_embed["height"]%>' style='display:none;'>
              <param name='host_url' value='https%3A%2F%2Ftableau.nd.edu%2F' />
              <param name='site_root' value='' />
              <param name='name' value= <%= @report_embed["name"].html_safe %> />
              <param name='tabs' value=<%= @report_embed["tabs"].html_safe %> />
              <param name='linktarget' value='_self' />
              <param name='toolbar' value='yes' />
            </object>
          </div>
        </div>
      </div>
      <br>
    <% end %>
  <% end %>



  <div class="row">
    <div class="large-12 large-centered columns"></br> </br>
      <h5 class="page-title">Sample Image</h5>
      <div class="medium-3 columns">
        <%= image_tag @report_photo.image_url(:small), :onerror => "this.src = '/assets/lhamascarf.jpg';this.removeAttribute('onerror');" %>
      </div>
      <br>
      <span style="font-weight:normal;font-size:.7em;font-style:italic">Recently uploaded images may take a few moments to appear.</span>
      <br>

      <%= form_tag report_image_upload_path, :method => "post", :id => 'report_image_upload', :multipart => true do %>
        <%= hidden_field_tag "id", @report["report"]["id"] %>
        Upload/replace sample image:
        <%= file_field_tag "image" %>
      <% end %>

    </div>
  </div>

  <% if @report["report"]["report_type"] !=  "External"  &&  @report["report"]["report_type"] != "Aggregation" %> 
    <% if current_user && current_user.can( :publish_report ) %>
      <div class="row">
        <div class="large-12 large-centered columns"></br> </br>
          <h5 class="page-title">Data Governance Terms</h5>
          <div class="row">
            <table class="raci">
              <tbody class="tbody">
                <tr class="term_row">
                  <td> <input type="hidden" class="term_input" id="term_input" data-init="<%= @term_reports.to_s%>"> </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <%else%>
      <div class="row">
        <div class="large-12 large-centered columns"></br> </br>
          <h5 class="page-title">Data Governance Terms</h5>
          <% if !@report["terms"].empty? then %>
            <% @report["terms"].each do |result| %>
              <% if result["name"]  then %>
                <a class="do_highlight" href="../terms/<%=result["name"]%>"> 
                  <strong><%= result["name"] %></strong> 
                </a>
                <br>
              <% end %>  
              <br>
            <% end %>
          <%else%> 
            Data Governance Terms have not been yet registered with this report</br></br>
          <% end %>
        </div>
      </div>
    <% end %>


    <% if current_user && current_user.can( :publish_report ) %>
      <div class="row">
        <div class="large-12 large-centered columns"></br> </br>
          <h5 class="page-title">Security Roles Associated with Reports</h5>
          <div class="row">
            <table class="raci">
              <tbody class="tbody">
                <tr class="security_row">
                  <td> <input type="hidden" class="role_input" id="role_input" data-init="<%=@role_reports.to_s%>"> </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <%else%>
      <div class="row">
        <div class="large-12 large-centered columns"></br> </br>
          <h5 class="page-title">Security Roles Associated with Reports</h5>
          <% if !@report["security_roles"].empty? then %>
            <% @report["security_roles"].each do |result| %>
              <% if result["name"]  then %>
                <strong> <%= result["name"] %></strong> 
                <br>
              <% end %>
              <br>
            <% end %>
          <%else%> 
            Security roles have not been yet registered with this report</br></br>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>



  <div class="row">
    <div class="large-12 columns"> 
      <h5 class="page-title">Additional Information</h5
      <dl> 
        <dt>Report Type</dt>
        <dd> &nbsp; </dd>
        <dd>
          <!-- #report_type{:class => ("editable" if current_user && current_user.can( :publish_report ) } -->
          <% if current_user && current_user.can( :publish_report ) %>
            <div id="report_type" class="editable">
          <%else %>
            <div id="report_type">
          <%end%>
          
          <% if @report["report"]["report_type"]  then %>
            <%= @report["report"]["report_type"].html_safe %>
          <%else%>
            NA
          <%end%>  
          </div> 
        </dd>
 
        <dd> &nbsp; </dd>
        <dt>Data Source</dt>
        <dd> &nbsp; </dd>
        <dd>
          <!-- #datasource{:class => ("editable" if current_user && current_user.can( :publish_report ) } -->
          <% if current_user && current_user.can( :publish_report ) %>
            <div id="datasource" class="editable">
          <%else%>
            <div id="datasource">
          <%end%>

          <% if @report["report"]["datasource"]   then %>
            <%= @report["report"]["datasource"] %>
          <%else%>
            NA
          <%end%>  
          </div>  
        </dd>

      </dl>
    </div>
  </div>



  <% if @report["report"]["report_type"] !=  "External"  &&  @report["report"]["report_type"] != "Aggregation" %> 

    <% if current_user && current_user.can( :publish_report ) %>
      <div class="row">
        <div class="large-12 large-centered columns"> 
          <h5 class="page-title">Report Parameters for Tableau</h5
          <dl> 
          <br>
            <dt>Report Width</dt>
            <dd>
              <div id="t_width" class="editable">
                <% if @report_embed["width"] !=""  then %>
                  <%= @report_embed["width"] %>
                <%else%>
                  NA
                <%end%>  
              </div> 
            </dd>
            <dt>Report Height</dt>
            <dd>
              <div id="t_height" class="editable">
                <% if @report_embed["height"] !="" then %>
                  <%= @report_embed["height"] %>
                <% else %>
                  NA
                <% end %>  
              </div> 
            </dd>
            
            <dt>Report Name</dt>
            <dd>  
              <div id="t_name" class="editable">
                <% if @report_embed["name"] !=""  then %>
                  <%= @report_embed["name"] %>
                <%else%>
                  NA
                <%end%>
              </div>    
            </dd>
         
            <dt>Report Tabs</dt>
            <dd>  
              <div id="t_tabs" class="editable">
                <% if @report_embed["tabs"] !=""  then %>
                  <%= @report_embed["tabs"] %>
                <%else%>
                  NA
                <%end%>
              </div>    
            </dd>
        
          </dl>     
        </div>
      </div>
    

  
      <div class="row">
        <div class="medium-2 medium-offset-4 columns">
          <input type="button" class ="small button expand"  value="Update Report" id="updateReportButton" />
        </div>
        <div class="medium-2 columns end">
          <input type="button"  class ="small button expand" value="Delete Report" data-reveal-id="mytinyDelete" id="deleteReportButton" />
        </div>
      </div>
    <% end%>     
  <% end%> 
<% else %>
   
  <div class="row">
    <div class="medium-12 large-12 columns">
      <h1>Unregistered Report</h1>
        This report is unregistered or the meta-data about the report has been lost.  Please send us feedback and we will get back to you within 1 business day.
     </div>
  </div>
<% end%> 