!!!
%head
  %meta{:charset => "utf-8"}/
  %title= content_for?(:title) ? yield(:title) : "Business Intelligence Portal"
  %meta{:content => "This is the Meta Description", :name => "description"}
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %meta{:content => "Short Name", :name => "apple-mobile-web-app-title"}
  %meta{:content => "Short Name", :name => "application-name"}
  %link{:href => "/favicon.ico", :rel => "shortcut icon"}
  %link{:href => "/images/webclips/nd-webclip-57.png", :rel => "apple-touch-icon-precomposed"}
  %link{:href => "/images/webclips/nd-webclip-72.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}
  %link{:href => "/images/webclips/nd-webclip-114.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}
  %link{:href => "/images/webclips/nd-webclip-144.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}
  = stylesheet_link_tag    "application"
  = javascript_include_tag "vendor/modernizr"
  = csrf_meta_tags
  %script{:src => "//tinymce.cachefly.net/4.1/tinymce.min.js"}
  = javascript_include_tag "application"

%body

  %header
    .brandbar
      %a.und{:href => "http://www.nd.edu"}
      %a.oit{:href => "http://oit.nd.edu"}

    = render "shared/top_bar"


  %main.site-content{:role => "main"}
    - if request.path == "/"

      .fullWidth.frontPage.noImage
        .small-12.small-centered.columns
          %h1.titleHeaderNoImage UNIVERSITY <i>of</i> NOTRE DAME
          %h2.titleHeaderNoImage Business Intelligence Portal

      

      - unless current_user
        .fullWidth.frontPage.frontPageImage.mainImage
          .small-12.small-centered.columns
            %h1.titleHeader UNIVERSITY <i>of</i> NOTRE DAME
            %h2.titleHeader Business Intelligence Portal
          .fullWidth
            .large-4.medium-8.medium-centered.columns
              = link_to "LOG IN", login_path, class: "button large round"
          .fullWidth.downArrow.blink_me


      #whatAreYouLookingFor.fullWidth
        %h2 WHAT ARE YOU LOOKING FOR?
        .waylfContainer
          %h3.mainPageSearchHeader Glossary
          .glossary
            %a.waylfLink{:href => "/browse/term"}
        .waylfContainer
          %h3.mainPageSearchHeader Reports
          .reports
            %a.waylfLink{:href => "/browse/report"}
        .waylfContainer
          %h3.mainPageSearchHeader Datasets
          .datasets
            %a.waylfLink{:href => "/browse/datasets"}

      = render "layouts/about"

    = yield











  %footer.site-footer{:role => "contentinfo"}
    .footer-inner
      .vcard
        %p.copyright.url.fn.org
          %a{:href => "http://www.nd.edu/copyright/"} Copyright
          \&copy; #{Time.now.year}
          %a.org{:href => "http://www.nd.edu"} University of Notre Dame
        %p.contact-info.adr
          %span.address
            %span.street-address> 200 OIT Center
            ,
            = succeed "," do
              %span.locality Notre Dame
            %span.region{:title => "Indiana"} IN
            %span.postal-code 46556
          %span.tel
            %span.type Phone
            574-631-7770
          %span.email
            %a{:href => "mailto:ES-DECISION-SUPPORT@LISTSERV.ND.EDU"} ES-DECISION-SUPPORT@LISTSERV.ND.EDU
        %a.ndmark{:href => "http://www.nd.edu"}
          %img{:alt => "University of Notre Dame", :src => "//www.nd.edu/assets/images/marks/black/ndmark300.png"}/
